// Mixins
// --------------------------

@mixin openSans {
  font-family: 'Open Sans', sans-serif;
}

@mixin helveticaMedium {
  font-family: 'HelveticaNeueCyr-Medium', sans-serif;
}

@mixin helveticaRoman {
  font-family: 'HelveticaNeueCyr-Roman', sans-serif;
}

@mixin helveticaLight {
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
}

@mixin transition {
	transition: all 0.3s ease-out;
}

@mixin bo {
	border: 1px solid red;
}

@mixin headerBackImg {
	height: 300px;
	background-size: 100%;
}

@mixin headerImg {
	position: relative;
	top: 200px;
	display: block;
  margin-left: 50%;
}

@mixin headerH {
	position: relative;
	top: -220px;
	margin-left: 50%;
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

@mixin content {
	width: 50%;
	margin-left: 34%;
	margin-top: 150px;
}

@mixin nextPage {
	width: 200px;
	height: 30px;
	border: 3px solid $black;
	margin: 50px auto;
}

@mixin nextLink {
	display: block;
	margin-top: 4px;
	color: $black;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
}

@mixin socialLi {
	list-style-type: none;
	display: inline-block;
	margin-right: 20px;
}
