@import "variables";
@import "mixins";

html {
	position: relative;
	min-height: 100%;
}

body {
	width: 100%;
	min-height: 100%;
	margin: 0;
	background-color: #eeeeee;
	font-family: 'HelveticaNeueCyr-Medium', sans-serif;
	font-family: 'HelveticaNeueCyr-Roman', sans-serif;
	font-family: 'HelveticaNeueCyr-Light', sans-serif;
	font-size: 100%;
	overflow-x: hidden;
}

p {
	color: $gray;
	@include openSans;
}

h1, h2, h3 {
	color: $black;
	@include helveticaMedium;
}

@import "partials/header";
@import "partials/home";
@import "partials/about";
@import "partials/skills";
@import "partials/contact";