html {
  position: relative;
  min-height: 100%; }

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-family: 'HelveticaNeueCyr-Medium', sans-serif;
  font-family: 'HelveticaNeueCyr-Roman', sans-serif;
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 100%; }

p {
  color: #1E2124;
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3 {
  color: #1E2124;
  font-family: 'HelveticaNeueCyr-Medium', sans-serif; }

.main-header {
  position: fixed;
  float: left;
  height: 100vh;
  width: 21.875%;
  background-color: #1E2124; }

.main_header__logo-wrap {
  display: block;
  width: 300px;
  height: 100px;
  margin: 0 auto; }

.main-header__me {
  width: 300px;
  margin: 0 auto; }

.main-header__main-photo {
  display: block;
  margin: 0 auto; }

.main-header__name, .main-header__proffesion {
  text-align: center;
  color: white; }

.main-header__links {
  position: relative;
  width: 280px;
  margin: 0 auto; }

.main-header__home-link {
  text-decoration: none;
  color: #319BD8;
  margin-left: 40px; }

.main-header__about {
  text-decoration: none;
  color: #E04863; }

.main-header__li-link {
  list-style-type: none; }

.main-header__about-link, .main-header__works-link, .main-header__contact-link {
  text-decoration: none;
  color: #656566; }

.main-header__works {
  text-decoration: none;
  color: #E8E24C; }

.main-header__contact {
  text-decoration: none;
  color: #69E84C; }

.main-header__link-active {
  color: white; }

.home {
  width: 100%; }

.home-header {
  height: 300px;
  background-size: 100%;
  background: url("/images/tr.png") no-repeat; }

.home-header__img {
  position: relative;
  top: 200px;
  display: block;
  margin-left: 50%; }

.home-header__h {
  position: relative;
  top: -220px;
  margin-left: 50%;
  font-size: 60px; }

.home__content {
  width: 50%;
  margin-left: 34%;
  margin-top: 150px; }

.next-page {
  width: 200px;
  height: 30px;
  border: 3px solid #1E2124;
  margin: 50px auto; }

.next-link {
  display: block;
  margin-top: 4px;
  color: #1E2124;
  text-align: center;
  text-decoration: none;
  font-size: 20px; }

.next-page:hover {
  background-color: #1E2124;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.next-page:hover .next-link {
  color: white;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.content__social {
  width: 300px;
  margin: 20px auto; }

.content__social-li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px; }

.content__social-links {
  color: #1E2124; }

.about {
  width: 100%; }

.about-header {
  background: url("/images/bg-9.png") no-repeat;
  height: 300px;
  background-size: 100%; }

.about-header__img {
  position: relative;
  top: 200px;
  display: block;
  margin-left: 50%; }

.about-header__h {
  position: relative;
  top: -220px;
  margin-left: 50%;
  font-size: 60px; }

.about__content {
  width: 50%;
  margin-left: 34%;
  margin-top: 150px; }

.circles {
  position: relative;
  width: 100%;
  border: 3px solid red;
  margin-bottom: -10px; }

.circle {
  width: 180px;
  height: 180px;
  margin-top: 15px;
  margin-left: 6%;
  display: inline-block;
  text-align: center;
  line-height: 1.2;
  border: 3px solid red; }

.stron {
  position: relative;
  display: block;
  bottom: 110px;
  font-size: 18px;
  margin: 0 auto;
  text-transform: uppercase; }

#canvas {
  display: block;
  margin: 20px auto;
  border: 1px solid black; }

.skills {
  width: 100%; }

.skills-header {
  height: 100px; }

.skills-header__h {
  position: relative;
  top: -220px;
  margin-left: 50%;
  font-size: 60px;
  top: 20px;
  margin-top: 0; }

.skills__content {
  width: 50%;
  margin-left: 34%;
  margin-top: 150px;
  margin-top: 50px; }

.skills__progress {
  height: 330px; }

.skills__img {
  width: 55%;
  height: auto; }

.skills__progress-bars {
  position: relatvie;
  float: right;
  width: 40%; }

.skills__progress-bar {
  width: 260px;
  height: 20px;
  border: 1px solid white;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background: #eeeeee;
  overflow: hidden;
  position: relative; }

.skills__progress-bar:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 25px;
  background: #1abc9c;
  overflow: hidden;
  -webkit-box-shadow: 1px 0 15px 1px black;
          box-shadow: 1px 0 15px 1px black; }

.skills__group {
  height: auto;
  margin-top: 100px; }

.skills__group-wrap {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-left: 10px; }

.skills__group-wrap:hover {
  cursor: pointer;
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-shadow: 0 0 40px -15px black;
          box-shadow: 0 0 40px -15px black; }

.fa-desktop, .fa-bold, .fa-database,
.fa-cogs, .fa-exchange, .fa-wordpress {
  position: absolute;
  margin-top: 20px;
  color: #d0d2d6; }

.fa-bold {
  top: 10px;
  left: 38%;
  color: #d0d2d6; }

.fa-database {
  left: 20%; }

.fa-cogs {
  left: 55%; }

.fa-exchange {
  top: 25px;
  left: 55%; }

.skills__group-wrap:hover .fa-desktop, .skills__group-wrap:hover .fa-bold,
.skills__group-wrap:hover .fa-database, .skills__group-wrap:hover .fa-cogs,
.skills__group-wrap:hover .fa-exchange, .skills__group-wrap:hover .fa-wordpress {
  color: #3d9ff8;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.skills__group-h {
  display: block;
  margin-top: 120px;
  margin-left: 28%; }

.fa-desktop, .fa-wordpress {
  margin-left: 28%; }

.skills__group-p {
  text-align: center; }

.fa-forward {
  position: absolute;
  right: 0; }

.skills__other {
  width: 100%;
  height: 350px;
  margin-top: 50px; }

.skills__other-progress {
  float: left;
  width: 45%; }

.skills__other-plus {
  float: right;
  width: 45%; }

.other-plus__p {
  margin-top: 35px;
  font-size: 20px; }

.other-plus__p i {
  margin-right: 15px; }
