html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'HelveticaNeueCyr-Medium', sans-serif;
  font-family: 'HelveticaNeueCyr-Roman', sans-serif;
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  color: #71495b;
  background-color: #3e253c;
}

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

html, body {
  height: 100%;
}

@media only screen and (min-width: 1170px) {
  body.new-color-1::before {
    background-color: #c06c69;
  }

  body.new-color-2::before {
    background-color: #bf69c0;
  }

  body.new-color-3::before {
    background-color: #699ec0;
  }
}
body::before, body::after {
  /* the 2 underneath colored sections */
  content: '';
  position: fixed;
  /* trick to remove some annoying flickering on webkit browsers */
  width: 89.8%;
  max-width: 1170px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 50%;
  z-index: -1;
}

body::before {
  top: 0;
  background-color: #f4bd89;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
}

body::after {
  top: 50%;
  background-color: #71495b;
}

header {
  position: relative;
  height: 50%;
  background-color: #3e253c;
  z-index: 2;
}
header h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  color: #699ec0;
  font-family: 'HelveticaNeueCyr-Medium', sans-serif;
  font-size: 36px;
  font-size: 2.625rem;
  font-weight: bold;
  text-transform: uppercase;
}

.cd-service {
  position: relative;
  z-index: 2;
  min-height: 50px;
  margin-left: 56px;
  background-color: #3e253c;
  padding: 1em 1em 4em;
}
.cd-service::before, .cd-service::after {
  content: '';
  position: absolute;
  width: 56px;
  right: 100%;
  z-index: 2;
}
.cd-service::before {
  top: 0;
  height: 50px;
  background-repeat: no-repeat;
}
.cd-service::after {
  top: 50px;
  bottom: 0;
  background-image: url("../images/cd-pattern-small.svg");
  background-repeat: repeat-y;
}
.cd-service.cd-service-divider::after {
  top: 0;
}
.cd-service.cd-service-divider:last-child {
  display: none;
}
.cd-service.cd-service-1::before {
  background-image: url("../images/cd-icon-1-small.svg");
}
.cd-service.cd-service-2::before {
  background-image: url("../images/cd-icon-2-small.svg");
}
.cd-service.cd-service-3::before {
  background-image: url("../images/cd-icon-3-small.svg");
}
.cd-service.cd-service-4::before {
  background-image: url("../images/cd-icon-4-small.svg");
}
.cd-service h2 {
  text-transform: uppercase;
  color: white;
  margin-bottom: 1em;
  font-family: 'HelveticaNeueCyr-Medium', sans-serif;
}
.cd-service p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Open Sans', sans-serif;
}
@media only screen and (min-width: 1170px) {
  .cd-service {
    min-height: 525px;
    margin-left: 420px;
    padding: 6em 2em;
  }
  .cd-service::before, .cd-service::after {
    width: 420px;
  }
  .cd-service::before {
    height: 325px;
  }
  .cd-service::after {
    top: 325px;
    background-image: url("../images/cd-pattern-large.svg");
  }
  .cd-service.cd-service-divider:first-child, .cd-service.cd-service-divider:last-child {
    min-height: 50px;
    padding: 0;
  }
  .cd-service.cd-service-divider:last-child {
    display: block;
  }
  .cd-service.cd-service-1::before {
    background-image: url("../images/cd-icon-1-large.svg");
  }
  .cd-service.cd-service-2::before {
    background-image: url("../images/cd-icon-2-large.svg");
  }
  .cd-service.cd-service-3::before {
    background-image: url("../images/cd-icon-3-large.svg");
  }
  .cd-service.cd-service-4::before {
    background-image: url("../images/cd-icon-4-large.svg");
  }
  .cd-service h2, .cd-service p {
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: color, 0.5s;
    -moz-transition: color, 0.5s;
    transition: color, 0.5s;
  }
  .cd-service h2 {
    font-size: 30px;
    font-size: 1.875rem;
    font-family: 'HelveticaNeueCyr-Medium', sans-serif;
  }
  .cd-service p {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
  }
  .cd-service.focus h2 {
    color: white;
    font-family: 'HelveticaNeueCyr-Medium', sans-serif;
  }
  .cd-service.focus p {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Open Sans', sans-serif;
  }
}

footer {
  position: relative;
  height: 50%;
  background: #3e253c;
  z-index: 2;
}

.feedback {
  background-color: #241523;
  color: white;
  width: 200px;
  border-radius: 0 10px 10px 0;
  position: fixed;
  min-height: 100px;
  top: 100px; 
  left: -180px;
  border-right: 20px solid #F4BD89;
  padding: 10px;
  transition: left 1.3s;
  z-index: 100;
}

.feedback a {
  text-decoration: none;
  font-weight: bold;
  font-family: 'HelveticaNeueCyr-Medium', sans-serif;
}

.feedback:after {
  content: 'Menu';
  color: #000;
  position: absolute;
  right: -35px; 
  top: 50px;
  transform: rotate(-90deg);
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.feedback:hover {
  left: 0;
  cursor: pointer;
}

.next-page {
  position: absolute;
  display: block;
  width: 200px;
  height: 30px;
  border: 3px solid $black;
  margin: 100px 45%;
}

@media only screen and (max-width : 900px) {
  .next-page {
    margin-left: 33%;
  }
}

.next-link {
  display: block;
  width: 200px;
  height: 30px;
  border: 3px solid #71495B;
  margin: 0 auto;
  text-align: center;
  padding-top: 2px;
  color: #F4BD89;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.next-page:hover {
  background-color: #1E2124;
  transition: all 0.3s ease-out;
}

.next-page:hover .next-link {
  color: white;
  transition: all 0.1s ease-out;
  border: 3px solid #1E2124;
}

.h-link {
  font-size: 24px;
  font-family: 'HelveticaNeueCyr-Medium', sans-serif;
  margin-bottom: 25px;
  margin-top: 15px;
}

.li-link {
  margin-bottom: 10px;
  font-family: 'HelveticaNeueCyr-Medium', sans-serif;
}

.about-link {
  font-size: 18px;
  font-family: 'HelveticaNeueCyr-Medium', sans-serif;
}

.home-link {
  color: #319BD8;
}

.about {
  color: #E04863;
}

.about-link {
  color: #71495B;
}

.link-active {
  color: white;
}

.works {
  color: #E8E24C;
}

.contact {
  color: #69E84C;
}


