@import "variables";
@import "mixins";

.about {
	width: 100%;
}

.about-header {
	background: url('/images/bg-9.png') no-repeat;
	@include headerBackImg;
}

.about-header__img {
	@include headerImg;
}

.about-header__h {
	@include headerH;
}

.about__content {
	@include content;
}

//////////////

.circles {
	position: relative;
	width: 100%;
	border: 3px solid red;
  margin-bottom: -10px;
}

.circle {
  width: 180px;
  height: 180px;
  margin-top: 15px;
  margin-left: 6%;
  display: inline-block;
  text-align: center;
  line-height: 1.2;
  border: 3px solid red;
}

.stron {
	position: relative;
	display: block;
	bottom: 110px;
	font-size: 18px;
	margin: 0 auto;
	text-transform: uppercase;
}

#canvas {
	display: block;
	margin: 20px auto;
  border: 1px solid black;
}