@import "variables";
@import "mixins";

.about {
	@include main-content;
}

.about-header {
	background: url('/images/about.jpg') no-repeat 30% 30%;
	@include headerBackImg;
}

.about-header__img {
	@include headerImg;
}

.about-header__h {
	@include headerH;
}

.about__content {
	@include content;
}

.circles {
	position: relative;
	width: 100%;
  	margin-bottom: 80px;
}

.circle {
  width: 180px;
  height: 180px;
  margin-top: 15px;
  margin-bottom: 200px;
  margin-left: 5%;
  display: inline-block;
  text-align: center;
  line-height: 1.2;
  vertical-align: top;
}

.stron {
	position: relative;
	display: block;
	bottom: 110px;
	font-size: 18px;
	margin: 0 auto;
	text-transform: uppercase;
}

.about__content_p-wrap {
	margin-top: 100px;
	margin-bottom: 100px;
}

.about__content_p-wrap:before {
	content: "";
	position: absolute;
	width: 100vw;
	left: 0;
	z-index: 0;
	margin-top: -20px;
	border-top: 1px solid #C5C5C7;
}

.about__content_p-wrap:after {
	content: "";
	position: absolute;
	width: 100vw;
	left: 0;
	z-index: 0;
	margin-top: 5px;
	border-bottom: 1px solid #C5C5C7;
}

#canvas {
	display: block;
	margin: 20px auto;
}

.about__content_english-link {
	color: $black;
}

.about__content_english-link:hover {
	color: $light-gray;
	@include transition;
}
