@import "variables";
@import "mixins";

.home {
	width: 100%;
}

.home-header {
	@include headerBackImg;
	background: url('images/bg-home.jpg') no-repeat;
	background-position: 50% 50%;
}

.home-header__img {
	@include headerImg;
}

.home-header__h {
	@include headerH;
	@include helveticaMedium;
}

.home__content {
	@include content;
}

.next-page {
	@include nextPage;
}

.next-link {
	@include nextLink;
}

.next-page:hover {
	background-color: $black;
	transition: all 0.3s ease-out;
}

.next-page:hover .next-link {
	color: $white;
	@include transition;
}

.content__social {
	width: 300px;
	margin: 20px auto;
}

.content__social-li {
	@include socialLi;
}

.content__social-links:hover {
	@include transition;
	color: #717C87;
}

.content__social-links {
	color: $black;
}

.content__p {
	font-size: 18px;
	@include openSans;
}